input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow:0 0 0 50px #252525 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #666666 !important;
    border: none !important;
    outline: none !important;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
*:focus {
    outline: none;
}
textarea {
    resize: none;
}
input{
    caret-color: #666666 !important;
}
input:focus::placeholder , textarea:focus::placeholder{
    transform: scale(0.01);
    transform-origin: bottom left;
    transition: transform 0.1s ease-in;
}
input , a , .cta-btn , .secondary-btn , .video-clicker , .pfp-clicker{
    cursor: pointer;
}
video::-webkit-media-controls-panel {
    background-image: none !important;
    filter: brightness(0.5);
 }